@import "variables";

@import "components";
@import "navbar";

// @import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@400;900&display=swap");
body {
  background: $bg_color;
  color: $primary_color;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
// * {
//   font-family: "Cinzel";
// }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
span {
  cursor: default;
}
a {
  color: white;
}
nav {
  font-family: "Cinzel";
}
.gallery {
  padding: 0 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .NftCard_Container {
    margin: 2vw;
  }
}

.Bigbutton {
  color: $primary_color;
  text-decoration: none;
  padding: 20px 30px;
  border: 1px solid $primary_color;
  position: relative;
  background: $bg_color;
  font-size: 1.3em;
  transition: 0.3s;
  &::after {
    content: "";
    position: absolute;
    left: 0.4em;
    top: 0.4em;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 1px solid $primary_color;
    transition: 0.3s;
  }
  &:hover {
    //! faire une vrai anim sur le text ( sort par le haut et vient d'en dessous tousa ... )
    &::after {
      left: 0.5em;
      top: 0.5em;
    }
  }
}

.SvgCurveText_Container {
  width: 100%;
  svg {
    width: 100%;
    height: 100%;
  }
}
//! Hero Section
header {
  height: 100vh;
  font-family: "Cinzel";
  .heroContainer {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    // padding: 0 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .textContainer {
      h1 {
        font-size: 7.5em;
        font-weight: 200;
        line-height: 100%;
        margin-bottom: 5%;
      }
    }
    .imgContainer {
      position: relative;
      width: 50%;
      height: 100%;
      .NftCard_Container {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        transition: 0.5s;
        transform: translate(20%, -50%) rotate(20deg);
        &:nth-child(2) {
          transform: translate(10%, -50%) rotate(10deg);
        }
        &:nth-child(3) {
          transform: translateY(-50%) rotate(0deg);
        }
        // transform: translate(10%, -50%) rotate(10deg);
        // &:nth-child(2) {
        //   transform: translate(5%, -50%) rotate(5deg);
        // }
        // &:nth-child(3) {
        //   transform: translateY(-50%) rotate(0deg);
        // }
        span {
          cursor: pointer;
        }
      }
      &:hover {
        .NftCard_Container {
          transform: translate(30%, -50%) rotate(30deg);
          &:nth-child(2) {
            transform: translate(10%, -50%) rotate(15deg);
          }
          &:nth-child(3) {
            transform: translate(-10%, -50%) rotate(0deg);
          }
        }
      }
    }
  }
  .BigCircle {
    z-index: -1;
    position: absolute;
    width: 70vw;
    top: 0%;
    right: 0%;
    transform: translate(30%, -40%);
    transition: 0.2s;
  }
  .LittleCircle {
    z-index: -1;
    position: absolute;
    width: 30vw;
    top: 0%;
    left: -10%;
    // transition: 0.2s;
  }
}

.BigTextContainer {
  position: relative;
  height: 30vh;
  margin: 10vh 0;
  .BigTextLign {
    top: 0;
    position: absolute;
    border: 2px solid $primary_color;
    background: $bg_color;
    font-size: 7em;
    font-family: "Cinzel";
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%) rotate(5deg);
    &.two {
      transform: translate(-50%, 50%) rotate(-5deg);
    }
  }
}

.testText {
  margin: 15vh 10vw;
  font-family: "Montserrat", sans-serif;
  width: 60%;
  h2 {
    font-size: 3em;
    margin: 7vh 0;
    font-weight: 900;
    font-weight: bolder;
  }
  p {
    color: $primary_color_light;
    font-size: 1.2em;
    letter-spacing: 1px;
    width: 90%;
  }
}
